body{
max-width: 250px;
}
.error-red-border {
    border: 1px solid red;
}
.banner-hidden {
    background-color: #DEF0D9;
    color: #319336;
    display: none;
}
.banner-active{
    background-color: #DEF0D9;
    color: #319336;
}